---
import { t } from 'i18next'
const { project } = Astro.props

const response = await fetch(`https://api.github.com/repos/${project.github_name}`)
const repository = await response.json()
---

<div class='flex items-center gap-10 overflow-hidden'>
  {project.images.length > 0 && (
    <div class="img flex-1 relative m-4">
      <img class="w-full aspect-square object-cover rounded-2xl shadow-lg relative z-10" src={project.images[0]} alt="desc" draggable="false" />
    </div>
  )}
  <div class='flex-1 flex flex-col'>
    <h3 class="text-md font-bold">{project.name}</h3>
    <p class="text-sm flex-grow">{repository?.description}</p>
    <div class="break-words space-x-2 text-xs text-gray">
      {repository?.topics.map(topic => (
        <a>#{topic}</a>
      ))}
    </div>
    <div class="flex gap-4 mt-2 text-sm">
      <a class="flex items-center gap-1 hover:underline" href={'repository?.html_url'} target="_blank" rel="noreferrer">
        <img class="h-4 w-4 dark:invert" src="/svg/github.svg" alt="source" />
        {t('source')}
      </a>
      {project.demo && (
        <a class="flex items-center gap-1 hover:underline" href={'repository?.homepage'} target="_blank" rel="noreferrer">
          <img class="h-4 w-4" src="/svg/coding.svg" alt="demo" />
          Demo
        </a>
      )}
      {project.npm && (
        <a class="flex items-center gap-1 hover:underline" href={project.npm} target="_blank" rel="noreferrer">
          <img class="h-4 w-4" src="/svg/npm.svg" alt="npm" />
          npm
        </a>
      )}
    </div>
  </div>
</div>

<style>
  .img::after {
    @apply content-[''] w-[110%] h-full;
    @apply absolute top-0 left-[-5%];
    @apply rounded-2xl rotate-3 bg-yellow/20;
  }
</style>
