---
import { t } from 'i18next'
const { project, reverse } = Astro.props

const response = await fetch(`https://api.github.com/repos/${project.github_name}`)
const repository = await response.json()

const colorVariants: Record<string, string> = {
  red: 'after:bg-[#C74375]/20',
  blue: 'after:bg-[#0F4C81]/20',
  orchid: 'after:bg-[#AD5E99]/20',
  emerald: 'after:bg-[#009473]/20',
  mimosa: 'after:bg-mimosa/20',
  purple: 'after:bg-[#5A5B9F]/20',
  orange: 'after:bg-orange/20'
}
---

<div class='flex items-center gap-10 overflow-hidden' class:list={{ 'flex-row-reverse': reverse }}>
  {project.images.length > 0 && (
    <div class="img flex-1 relative m-4" class:list={[colorVariants[project.color]]}>
      <img class="w-full aspect-square object-cover rounded-2xl shadow-lg relative z-10" src={project.images[0]} alt="desc" draggable="false" />
    </div>
  )}
  <div class='flex-1 flex flex-col'>
    <h3 class="text-md font-bold">{project.name}</h3>
    <p class="text-sm flex-grow">{repository?.description}</p>
    <ul class="flex flex-wrap gap-2 text-xs text-gray">
      {repository?.topics.map((topic: string) => (
        <li>#{topic}</li>
      ))}
    </ul>
    <div class="flex gap-4 mt-2 text-sm">
      <a href={'repository?.html_url'} target="_blank" rel="noreferrer">
        {t('source')}
      </a>
      {project.demo && (
        <a href={'repository?.homepage'} target="_blank" rel="noreferrer">
          Demo
        </a>
      )}
      {project.npm && (
        <a href={project.npm} target="_blank" rel="noreferrer">
          <img class="h-4 w-4" src="/svg/npm.svg" alt="npm" />
          npm
        </a>
      )}
    </div>
  </div>
</div>

<style>
  .img::after {
    @apply content-[''] w-[110%] h-full;
    @apply absolute top-0 left-[-5%];
    @apply rounded-2xl rotate-3;
  }
  a {
    @apply flex items-center gap-2 p-3;
  }
  a:hover {
    @apply rounded-xl bg-navy/10 text-navy;
  }
</style>
