---
import { t } from 'i18next'
import Divider from './Divider.astro'

const technologies = [
  { name: 'Javascript', icon: 'javascript.svg' },
  { name: 'Astro', icon: 'astro.svg' },
  { name: 'Tailwind CSS', icon: 'tailwindcss.svg' },
  { name: 'Vercel', icon: 'vercel.svg' }
]

const socials = [
  { name: 'Github', href: 'https://github.com/jhormanrus', icon: 'github.svg', invert: true },
  { name: 'LinkedIn', href: 'https://linkedin.com/in/jhormanrus/', icon: 'linkedin.svg', invert: false }
]
---

<footer class="w-full">
  <Divider />
  <div class="max-w-screen-md mx-auto px-2 sm:px-6 lg:px-8 flex flex-col items-center space-y-2 pt-2 pb-3">
    <p>{t('projectMadeWith')}</p>
    <div class="flex flex-wrap justify-center gap-4 mb-2">
      {technologies.map(item => (
        <div class="h-9 w-9">
          <img class="w-full h-full" src={`/svg/${item.icon}`} alt={item.name} title={item.name} />
        </div>
      ))}
    </div>
  </div>
  <Divider />
  <div class="max-w-screen-md mx-auto px-2 sm:px-6 lg:px-8 flex items-center w-full text-xs pt-2 pb-3">
    <div class="flex">
      <span class="hidden sm:block">{t('developedWithLove')} <u>Jhorman Rus</u></span>
      <span class="sm:hidden">{t('by')} <u>Jhorman Rus</u></span>
    </div>
    <div class="flex items-center gap-2 ml-auto">
      {socials.map(item => (
        <a class={`h-5 w-5 ${item.invert && 'dark:invert'}`} href={item.href} target="_blank" rel="noreferrer">
          <img class="w-full h-full" src={`/svg/${item.icon}`} alt={item.name} title={item.name} />
        </a>
      ))}
    </div>
  </div>
</footer>
