---
import { t } from 'i18next'
import ThemeToggler from './ThemeToggler.astro'
import LanguageSwitcher from './LanguageSwitcher.astro'
import Divider from './Divider.astro'

const navigation = [
  {
    name: t('projects'),
    href: 'projects',
    color: 'mimosa'
  },
  {
    name: t('aboutMe'),
    href: 'me',
    color: 'orchid'
  },
  {
    name: t('articles'),
    href: 'article',
    color: 'emerald'
  }
]
---

<div id="ghost" class="mt:-64"></div>
<nav class="w:full sticky top:0 bg:white/.2 bg:zinc/.3@dark bd:blur(8)">
  <div class="max-w:sm flex flex:col gap:16 px:20 py:16 px:24@xs px:32@md">
    <a href="#" class="flex ai:center gap:16">
      <div class='w:48 h:48'>
        <div class="transform:bottom|left" style={{ transform: 'var(--avatar-image-transform)' }}>
          <img class='w:full h:full round grayscale(1)' src="/img/profile.webp" alt="profile" />
        </div>
      </div>
      <div class="flex flex:col f:semibold" style={{ opacity: 'var(--title-opacity)' }}>
        <span class="f:18">Jhorman Ruswel</span>
        <span class="f:14 f:gray f:gray/.8@dark">Tito Tito</span>
      </div>
    </a>
    <div class="flex ai:center ji:space-between">
      <ul id="navigation" class="flex ai:center gap:8 f:xs f:gray f:bold">
        {navigation.map(item => (
          <li>
            <a class={`f:${item.color} bg:${item.color}/.2 bg:${item.color}/.3:hover b:${item.color}/.2 text-decoration:${item.color} shadow`} href={`#${item.href}`}>
              <>{item.name}</>
            </a>
          </li>
        ))}
      </ul>
      <div class="flex ai:center gap:8">
        <ThemeToggler />
        <LanguageSwitcher />
      </div>
    </div>
  </div>
  <Divider />
</nav>

<script>
  const html = document.querySelector('html') as HTMLElement
  const navigation = document.getElementById('navigation')

  updateAvatarTransform()
  updateTitleOpacity()

  window.addEventListener('scroll', handleScrollEvents, { passive: true })
  window.addEventListener("resize", handleScrollEvents, { passive: true })

  function handleScrollEvents () {
    updateActiveNavigation()
    updateAvatarTransform()
    updateTitleOpacity()
  }

  function updateActiveNavigation () {
    const fragments = document.querySelectorAll('section[id]')
    const scrollPaddingTop = parseInt(window.getComputedStyle(html).scrollPaddingTop)
    const spaceBetween = 40

    fragments.forEach((fragment, i) => {
      const link = navigation?.getElementsByTagName('a')[i]
      const rect = fragment.getBoundingClientRect()
      if (rect.top <= scrollPaddingTop && rect.bottom > (scrollPaddingTop - spaceBetween)) {
        link?.classList.add('active')
      } else {
        link?.classList.remove('active')
      }
    })
  }

  function updateAvatarTransform () {
    const downDelay = (document.getElementById('ghost') as HTMLElement).offsetTop ?? 0
    const heroPaddingBottom = getElementComputedStyle('hero', 'padding-bottom')
    const descriptionHeight = getElementComputedStyle('header-description', 'height')
    const descriptionMarginTop = getElementComputedStyle('header-description', 'margin-top')

    const fromScale = 1.33
    const toScale = 1
    const fromY = -(heroPaddingBottom + descriptionHeight + descriptionMarginTop)
    const toY = 0

    const scrollY = downDelay - window.scrollY

    let scale = (scrollY * (fromScale - toScale)) / downDelay + toScale
    scale = clamp(scale, fromScale, toScale)

    let y = (scrollY * (fromY - toY)) / downDelay + toY
    y = clamp(y, fromY, toY)

    setProperty('--avatar-image-transform', `translate3d(0, ${y}rem, 0) scale(${scale})`)
  }

  function updateTitleOpacity () {
    const downDelay = (document.getElementById('ghost') as HTMLElement).offsetTop ?? 0

    const fromOpacity = 1
    const toOpacity = 0

    let opacity = (scrollY * (fromOpacity - toOpacity)) / downDelay + toOpacity
    opacity = clamp(opacity, fromOpacity, toOpacity)

    setProperty('--title-opacity', opacity.toString())
    setProperty('--header-opacity', (1 - opacity).toString())
  }

  function clamp (number: number, a: number, b: number) {
    const min = Math.min(a, b)
    const max = Math.max(a, b)
    return Math.min(Math.max(number, min), max)
  }

  function setProperty (property: string, value: string) {
    document.documentElement.style.setProperty(property, value)
  }

  function getElementComputedStyle (id: string, property: string) {
    const element = document.getElementById(id) as HTMLElement
    const computedStyle = getComputedStyle(element)
    const value = computedStyle.getPropertyValue(property)

    const pixelsValue = parseFloat(value)
    const rootFontSize = parseFloat(getComputedStyle(document.documentElement).fontSize)
    const remValue = pixelsValue / rootFontSize
    return remValue
  }
</script>

<style>
  #navigation a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    text-transform: capitalize;
    border-radius: 16px;
    border-bottom-width: 1px;
  }
  #navigation a.active {
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
  }
</style>
