---
import { t } from 'i18next'
import ThemeToggler from './ThemeToggler.astro'
import LanguageSwitcher from './LanguageSwitcher.astro'

const activeLink = (link: string) => Astro.url.pathname === link

const navigation = [
  {
    name: t('projects'),
    href: 'projects',
    color: 'emerald'
  },
  {
    name: t('aboutMe'),
    href: 'me',
    color: 'orchid'
  }
  // {
  //   name: t('articles'),
  //   href: '/blog',
  //   color: 'mimosa'
  // }
]

const colorVariants: Record<string, string> = {
  orchid: '[&.active]:text-orchid [&.active]:bg-orchid/10 decoration-orchid',
  emerald: '[&.active]:text-emerald [&.active]:bg-emerald/10 decoration-emerald',
  mimosa: '[&.active]:text-mimosa [&.active]:bg-mimosa/10 decoration-mimosa'
}
---

<nav id="navbar" class="w-full max-w-screen-md sticky top-0 bg-white dark:bg-zinc z-20 space-y-3 px-2 py-4 sm:px-6 lg:px-8 mt-[-4rem]">
  <div class='w-12 h-12 relative'>
    <div class="absolute origin-bottom-left" style={{ transform: 'var(--avatar-image-transform)' }}>
      <div class="relative before:absolute before:inset-0 before:bg-purple/20 before:dark:bg-purple/30 before:rounded-[59%_41%_81%_19%/70%_22%_78%_30%]">
        <img class='w-full h-full rounded-full grayscale' src="/img/profile.webp" alt="profile" />
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <!-- <a class="text-black dark:text-white text-sm font-bold" href="#" aria-current={activeLink('/') ? 'page' : undefined}>
      <img class="w-9 h-9 rounded-full bg-gray dark:bg-neutral" src="/img/logo.png" alt="Logo" />
      Jhorman Rus
    </a> -->
    <ul id="navigation" class="flex items-center gap-2 text-gray dark:text-gray font-bold">
      {navigation.map(item => (
        <li>
          <a class={colorVariants[item.color]} href={`#${item.href}`}>
            <>{item.name}</>
          </a>
        </li>
      ))}
    </ul>
    <div class="flex items-center gap-2">
      <ThemeToggler />
      <LanguageSwitcher />
    </div>
  </div>
</nav>

<script>
  const html = document.querySelector('html')
  const navigation = document.getElementById('navigation')
  const downDelay = document.getElementById('navbar')?.offsetTop ?? 0

  updateAvatarTransform()

  window.addEventListener('scroll', updateAvatarTransform, { passive: true })
  window.addEventListener('scroll', updateActiveNavigation, { passive: true })

  function updateActiveNavigation () {
    const fragments = document.querySelectorAll('section[id]')
    fragments.forEach((fragment, i) => {
      const link = navigation?.getElementsByTagName('a')[i]
      const rect = fragment.getBoundingClientRect()
      const scrollPaddingTop = parseInt(window.getComputedStyle(html).scrollPaddingTop)
      const fragmentSpaceTop = parseInt(window.getComputedStyle(fragment).marginTop)
      if (rect.top <= scrollPaddingTop && rect.bottom > (scrollPaddingTop - fragmentSpaceTop)) {
        link?.classList.add('active')
      } else {
        link?.classList.remove('active')
      }
    })
  }

  function updateAvatarTransform () {
    const fromScale = 4
    const toScale = 1
    const fromY = -1.25
    const toY = 0

    const scrollY = downDelay - window.scrollY

    let scale = (scrollY * (fromScale - toScale)) / downDelay + toScale
    scale = clamp(scale, fromScale, toScale)

    let y = (scrollY * (fromY - toY)) / downDelay + toY
    y = clamp(y, fromY, toY)

    setProperty(
      '--avatar-image-transform',
      `translate3d(0, ${y}rem, 0) scale(${scale})`
    )
  }

  function clamp (number, a, b) {
    const min = Math.min(a, b)
    const max = Math.max(a, b)
    return Math.min(Math.max(number, min), max)
  }

  function setProperty (property, value) {
    document.documentElement.style.setProperty(property, value)
  }
</script>

<style>
  a {
    @apply flex items-center gap-2 p-3 rounded-xl;
  }
  a:hover {
    @apply hover:underline decoration-[3px];
  }
</style>
