---
import { t } from 'i18next'
import ThemeToggler from './ThemeToggler.astro'
import LanguageSwitcher from './LanguageSwitcher.astro'
import Divider from './Divider.astro'

const navigation = [
  {
    name: t('projects'),
    href: 'projects',
    color: 'mimosa'
  },
  {
    name: t('aboutMe'),
    href: 'me',
    color: 'orchid'
  },
  {
    name: t('articles'),
    href: 'article',
    color: 'emerald'
  }
]

const colorVariants: Record<string, string> = {
  orchid: 'text-orchid bg-orchid/20 hover:bg-orchid/30 border-orchid/20 decoration-orchid shadow-lg shadow-orchid/10',
  emerald: 'text-emerald bg-emerald/20 hover:bg-emerald/30 border-emerald/20 decoration-emerald shadow-lg shadow-emerald/10',
  mimosa: 'text-mimosa bg-mimosa/20 hover:bg-mimosa/30 border-mimosa/20 decoration-mimosa shadow-lg shadow-mimosa/10'
}
---

<div id="ghost" class="mt-[-4rem]"></div>
<nav class="w-full sticky top-0 bg-white/20 dark:bg-zinc/30 backdrop-blur">
  <div class="max-w-screen-md space-y-4 mx-auto px-5 py-4 sm:px-6 lg:px-8">
    <a href="#" class="flex items-center gap-4">
      <div class='w-12 h-12'>
        <div class="origin-bottom-left" style={{ transform: 'var(--avatar-image-transform)' }}>
          <img class='w-full h-full rounded-full grayscale' src="/img/profile.webp" alt="profile" />
        </div>
      </div>
      <div class="flex flex-col font-semibold" style={{ opacity: 'var(--title-opacity)' }}>
        <span class="text-lg">Jhorman Ruswel</span>
        <span class="text-sm text-gray dark:text-gray/80">Tito Tito</span>
      </div>
    </a>
    <div class="flex items-center justify-between">
      <ul id="navigation" class="flex items-center gap-2 text-sm text-gray dark:text-gray font-bold">
        {navigation.map(item => (
          <li>
            <a class={colorVariants[item.color]} href={`#${item.href}`}>
              <>{item.name}</>
            </a>
          </li>
        ))}
      </ul>
      <div class="flex items-center gap-2">
        <ThemeToggler />
        <LanguageSwitcher />
      </div>
    </div>
  </div>
  <Divider />
</nav>

<script>
  const html = document.querySelector('html') as HTMLElement
  const navigation = document.getElementById('navigation')

  updateAvatarTransform()
  updateTitleOpacity()

  window.addEventListener('scroll', handleScrollEvents, { passive: true })
  window.addEventListener("resize", handleScrollEvents, { passive: true })

  function handleScrollEvents () {
    updateActiveNavigation()
    updateAvatarTransform()
    updateTitleOpacity()
  }

  function updateActiveNavigation () {
    const fragments = document.querySelectorAll('section[id]')
    const scrollPaddingTop = parseInt(window.getComputedStyle(html).scrollPaddingTop)
    const spaceBetween = 40

    fragments.forEach((fragment, i) => {
      const link = navigation?.getElementsByTagName('a')[i]
      const rect = fragment.getBoundingClientRect()
      if (rect.top <= scrollPaddingTop && rect.bottom > (scrollPaddingTop - spaceBetween)) {
        link?.classList.add('active')
      } else {
        link?.classList.remove('active')
      }
    })
  }

  function updateAvatarTransform () {
    const downDelay = (document.getElementById('ghost') as HTMLElement).offsetTop ?? 0
    const heroPaddingBottom = getElementComputedStyle('hero', 'padding-bottom')
    const descriptionHeight = getElementComputedStyle('header-description', 'height')
    const descriptionMarginTop = getElementComputedStyle('header-description', 'margin-top')

    const fromScale = 1.33
    const toScale = 1
    const fromY = -(heroPaddingBottom + descriptionHeight + descriptionMarginTop)
    const toY = 0

    const scrollY = downDelay - window.scrollY

    let scale = (scrollY * (fromScale - toScale)) / downDelay + toScale
    scale = clamp(scale, fromScale, toScale)

    let y = (scrollY * (fromY - toY)) / downDelay + toY
    y = clamp(y, fromY, toY)

    setProperty('--avatar-image-transform', `translate3d(0, ${y}rem, 0) scale(${scale})`)
  }

  function updateTitleOpacity () {
    const downDelay = (document.getElementById('ghost') as HTMLElement).offsetTop ?? 0

    const fromOpacity = 1
    const toOpacity = 0

    let opacity = (scrollY * (fromOpacity - toOpacity)) / downDelay + toOpacity
    opacity = clamp(opacity, fromOpacity, toOpacity)

    setProperty('--title-opacity', opacity.toString())
    setProperty('--header-opacity', (1 - opacity).toString())
  }

  function clamp (number: number, a: number, b: number) {
    const min = Math.min(a, b)
    const max = Math.max(a, b)
    return Math.min(Math.max(number, min), max)
  }

  function setProperty (property: string, value: string) {
    document.documentElement.style.setProperty(property, value)
  }

  function getElementComputedStyle (id: string, property: string) {
    const element = document.getElementById(id) as HTMLElement
    const computedStyle = getComputedStyle(element)
    const value = computedStyle.getPropertyValue(property)

    const pixelsValue = parseFloat(value)
    const rootFontSize = parseFloat(getComputedStyle(document.documentElement).fontSize)
    const remValue = pixelsValue / rootFontSize
    return remValue
  }
</script>

<style>
  #navigation a {
    @apply flex items-center gap-2 p-3 capitalize rounded-2xl border-b;
  }
  #navigation a.active {
    @apply underline underline-offset-[3px] decoration-[3px];
  }
</style>
