---
import { t } from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'
import ThemeToggler from './ThemeToggler.astro'

const activeLink = (link: string) => Astro.url.pathname === link
const navigation = [
  { name: t('articles'), href: '/blog', icon: 'article.svg' },
  { name: t('projects'), href: 'projects', icon: 'coding.svg' },
  { name: t('aboutMe'), href: 'me', icon: 'resume.svg' }
]
---

<nav class="w-full max-w-screen-md sticky top-0 bg-white dark:bg-zinc z-20 px-2 py-4 sm:px-6 sm:py-4 lg:px-8 lg:py-5">
  <div class="relative flex items-center justify-between">
    <a class="flex items-center gap-2 text-black dark:text-white text-sm font-bold" href="#" aria-current={activeLink('/') ? 'page' : undefined}>
      <img class="w-9 h-9 rounded-full bg-gray dark:bg-neutral" src="/img/logo.png" alt="Logo" />
      Jhorman Rus
    </a>
    <ul id="navigation" class="flex items-center gap-2 text-gray dark:text-gray font-bold">
      {navigation.map(item => (
        <li>
          <a class="flex items-center gap-2 p-4" href={`#${item.href}`}>
            <img class="w-5 h-5" src={`/svg/${item.icon}`} alt={item.name} />
            <>{item.name}</>
          </a>
        </li>
      ))}
    </ul>
    <div class="flex items-center gap-2">
      <ThemeToggler />
      <LanguageSelector showFlag={false} />
    </div>
  </div>
</nav>

<script>
  window.addEventListener('scroll', function () {
    const navigation = document.getElementById('navigation')
    const fragments = document.querySelectorAll('section[id]')
    for (let i = 0; i < fragments.length; i++) {
      const fragment = fragments[i]
      const link = navigation.getElementsByTagName('a')[i]
      const rect = fragment.getBoundingClientRect()
      if (rect.top <= 0 && rect.bottom > 0) {
        link.classList.add('active')
      } else {
        link.classList.remove('active')
      }
    }
  })
</script>

<style>
  .active {
    @apply text-black dark:text-white underline decoration-navy decoration-2;
  }
  a:hover {
    @apply rounded-xl bg-navy/10 text-navy;
  }
</style>
